
.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h2 {
    color: #ff6347;
}

.error-page img {
    width: 200px; 
    max-width: 100%;
    height: auto; 
    margin-bottom: 20px; 
}
