@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --clr-green-400: #93e2e4;
  --clr-green-500: #229fa3;
  --clr-green-400: #93e2e4;

  --clr-orange-500: #f88103;
  --clr-orange-300: #ffd3a5;
  --clr-orange-500: #f88103;
  --clr-orange-300: #ffd3a5;

  --clr-neutral-900: #1e1e1e;
  --clr-neutral-700: #b4b4b4;
  --clr-neutral-600: #959595;
  --clr-neutral-500: #d9d9d9;

  --clr-main-bg: #f4f2ee;
  --clr-error: #ff6347;
  --clr-main-bg: #f4f2ee;
  --clr-error: #ff6347;

  --radius-xs: 0.3rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--clr-main-bg);
}

main {
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding: 0 9rem;
  margin: 3rem 5rem;
  transition: margin 0.3s ease, padding 0.3s ease;
  position: relative;
}

h1 {
  font-size: 1, 75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

h5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}

h6 {
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.2rem;
}

button {
  box-shadow: none;
  cursor: pointer;
  border: none;
}

::placeholder {
  color: var(--clr-neutral-600);
  color: var(--clr-neutral-600);
}

input {
  border-radius: var(--radius-sm);
  background: var(white);
  color: var(--clr-neutral-900);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--clr-neutral-500);
  outline-color: var(--clr-green-500);
  box-sizing: border-box;
  font-size: 1rem;
}

select {
  border-radius: var(--radius-sm);
  background: white;
  color: var(--clr-neutral-900);
  padding: 10px;
  border: 1px solid var(--clr-neutral-500);
  outline-color: var(--clr-green-500);
  box-sizing: border-box;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

a:hover,
a:focus {
  text-decoration: none;
}

label {
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

section {
  width: 100%;
}
.bg-green-400 {
  background-color: var(--clr-green-400);
}

.bg-green-500 {
  background-color: var(--clr-green-500);
}

.bg-orange-500 {
  background-color: var(--clr-orange-500);
}

.bg-orange-300 {
  background-color: var(--clr-orange-300);
}

.text-black {
  color: var(--clr-neutral-900);
}

.text-green {
  color: var(--clr-green-500);
}

.text-muted {
  color: var(--clr-neutral-600);
}

.green-btn {
  background-color: var(--clr-green-500);
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.orange-btn {
  background-color: var(--clr-orange-500);
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.green-btn:hover {
  background-color: #51c0c3;
}
.green-btn:hover {
  background-color: #51c0c3;
}

.green-outline-btn {
  background-color: transparent;
  color: #229fa3;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 1px solid #229fa3;
  transition: all 0.3s ease;
}

.green-outline-btn:hover {
  background-color: rgba(34, 159, 163, 0.1);
}

.chip {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.container {
  background-color: white;
}

.column-section-three {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.column-section-three article {
  box-sizing: border-box;
}

.column-section-three article:first-of-type {
  flex: 0 1 20%;
}

.column-section-three article:nth-of-type(2) {
  flex: 0 50%;
}
.column-section-three article:nth-of-type(3) {
  flex: 0 1 30%;
}

@media (max-width: 768px) {
  main {
    margin: 0;
    padding: 0 2rem;
  }

  button {
    font-size: 1rem;
  }

  .column-section-left {
    flex-direction: column;
  }

  .column-section-left article {
    flex: 1 1 100%;
  }
}

@media (min-width: 768px) and (max-width: 1105px) {
  /* Styles for medium screens */
  main {
    margin: 0;
    padding: 0 5rem;
  }
  .column-section-left {
    flex-direction: column;
  }

  .column-section-left article {
    flex: 1 1 100%;
  }
}

.green-outline-btn:hover {
  background-color: rgba(34, 159, 163, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--radius-sm);
  padding: 2rem;
  border: 1px solid var(--clr-neutral-500);
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-container select {
  width: 100%;
}

/* General styles for pagination container */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

/* Styles for the pagination list */
.pagination {
  list-style: none;
  display: flex;
  padding: 0;
}

/* Styles for pagination buttons */
.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: white;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover and active styles for buttons */
.pagination button:hover {
  background-color: #007bff;
  color: white;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #0056b3; /* Darker border for active button */
}

/* Styles for the first and last buttons */
.first-button,
.last-button {
  font-weight: bold;
}

/* Hiding buttons if not applicable */
.hidden {
  display: none;
}

@media (max-width: 768px) {
  /* Styles for phones */
  main {
    margin: 0;
    padding: 0 2rem;
  }

  button {
    font-size: 1rem;
  }

  .pagination button {
    padding: 6px 10px;
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1105px) {
  /* Styles for medium screens */
  main {
    margin: 0;
    padding: 0 5rem;
  }
}
